*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100;
    background: linear-gradient(to top, rgba(224, 9, 9, 0.5)50%,rgba(63, 233, 11, 0.5)50%),url(download.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
